.reveal ul li {
  margin: 20px;
}
.reveal ul li ul li {
  margin: 10px;
}
.reveal.cube .slides {
  max-width: 1080px;  
  margin-top: -380px;
  font-family: "Microsoft YaHei",SimHei;
}

.reveal.cube .slides h2 {
  font-family: "Microsoft YaHei",SimHei; 
}
.reveal .slides>section, .reveal .slides>section>section {
  min-height: 720px;
}
