
<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>
      {% if(page.title) %}
        {{page.title}}
        _
      {% endif %}
      Dead_horse
    </title> 
    <meta name="description" content=""> 
    <meta name="author" content=""> 
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 
 
    <!-- Le styles --> 
        
   <link href="/styles/reset.css" rel="stylesheet"> 
   <link href="/styles/bootstrap.min.css" rel="stylesheet">
   <link href="/styles/main.css" rel="stylesheet">
   <link rel="stylesheet" href="/styles/syntax.css" type="text/css"> 
   <link rel="stylesheet" href="/styles/miaov_style.css" type="text/css"> 
    <style type="text/css"> 
      body {  
        padding-top: 60px;
      }
    </style> 
 
    <!-- Le fav and touch icons --> 
    <link rel="shortcut icon" href="images/favicon.ico"> 
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> 
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> 
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> 
    
    <!-- script -->
    <script src="/scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    <script src="/scripts/main.js" type="text/javascript"></script>
    <script src="/scripts/miaov.js" type="text/javascript"></script>    
  </head> 
 
  <body> 
 
    <div class="topbar"> 
      <div class="topbar-inner"> 
        <div class="container-fluid"> 
          <a class="brand" href="/">Dead_horse's Blog</a> 
          <ul class="nav"> 
            <li class="active"><a href="/">Blogs</a></li> 
     <!--       <li><a href="/about">About</a></li> 
            <li><a href="/contact">Contact</a></li>  -->
          </ul> 
      <!--    <p class="pull-right">Logged in as <a href="#">username</a></p> --> 
        </div> 
      </div> 
    </div> 
    <div class="container-fluid"> 
      <div class="sidebar"> 
        <div class="well"> 
          <h5>tags</h5>
          <div id="cloud-tags">
          </div>
          <h5>Recent Posts</h5> 
          <ul> 
          {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <span style="display:none;" class="post-keywords">post.keywords</span>
          </li>
          {% endfor %}   
          </ul> 
        </div> 
      </div> 
    <div class="content">
    {{ content }}
      <footer>
      <p>
        &copy; dead_horse 2011
      </p>
    </footer>
  </div>
  </body> 
</html>