/* Created by http://freehtml5templates.com */
/* basics */

/* reset */
* {
	margin: 0;
	padding: 0;
	}

/* render html5 elements as block */
header, footer, section, aside, nav, article {
	display: block;
	}

/* standard body */
body {
	margin: 0 auto;
	width: 1280px;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	font-size: 17px;
	line-height: 30px;
	}

/* standard alignments */
.alignleft {
	float: left;
	}

img.alignleft {
	margin: 5px 10px 0 0;
	}

.alignright {
	float: right;
	}

img.alignright {
	margin: 5px 0 0 10px;
	}

.center {
	text-align: center;
	}

/* Hx tags */

h1 {
	font-size: 32px;
	padding: 30px 0;
	line-height: 40px;
	margin-left: -30px;
	}

h2 {
	font-size: 28px;
	padding: 30px 0;
	line-height: 36px;
	margin-left: -30px;
	}

h3 {
	font-size: 24px;
	padding: 20px 0;
	line-height: 30px;
	margin-left: -20px;
	}

p {
	padding-bottom: 10px;
	}

pre {
	margin: 15px;
}

code {
	overflow: scroll;
	background: #f0f0f0;
	color: #FF4136;
	margin: 0 3px 0 3px;
	padding: 0 3px 0 3px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 10px;
}

a{
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  color: #4F7E12;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

/* nav */
nav {
	width: 1280px;

	/* curved border radius */
	margin-top: 10px;
	}

nav ul {
	margin: 0 auto;
	width: 1280px;
	list-style: none;
	}

nav ul li {
	float: left;
	}

nav ul li a {
	display: block;
	margin-right: 20px;
	width: 140px;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: #ddee18;
	}


/* content and sidebar layout */

#content {
	float: left;
	width: 930px;
	margin:10px 5px 30px 0;
	padding:5px 20px 30px 20px;
        min-height: 500px;
}
#content .date{
  margin-left: 820px;
}
#content ul{
  margin-left: 30px;
}
#content li{
  margin : 2px;
}

aside {
	float: right;
	text-align: left;
	width: 300px;
	margin-bottom :30px;
	padding:0;
	}
/* article */
.articlecontent header p, .blogPost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
	}

.articlecontent .post {
	margin-bottom: 50px;
}

.articlecontent .post ol, .articlecontent .post ul {
	margin-left: 40px;
	margin-bottom: 30px;
}

.articlecontent header p a:hover {
	text-decoration: none;
	color: #000;
	}

/* multiple columns */
.articlecontent div {
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	}

/* box shadow on pics */
.articlecontent img {
	-webkit-box-shadow: 3px 3px 7px #777;
        max-width: 90%;
        height: auto;
	}

/* sidebar */
aside section {
	margin: 10px 0 0 10px;
	padding: 10px 15px;
	/*background-color: #f2f2f2;*/

/* curved border radius */
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	}

aside section ul li{
	list-style-type:none;
}

aside section ul li a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 240px;
}

aside section ul li a:hover {
	text-decoration: underline;
	}

/* footer */
footer {
	clear: both;
	width: 1280px;
	margin-top: 20px;
	margin-bottom: 10px;
	/* curved border radius */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	}

footer p {
  text-align: right;
	padding-right: 20px;
	}

footer a:hover {
	text-decoration: none;
	}

footer p{
	text-align: center;
};

#blogs {
  list-style: none;
}
#blogs li {
  margin 4px;
}

#fork {
	width: 282px;
	height: 230px;
	position: absolute;
	right: 0px;
	top: 0px;
	background-image: url("../images/fork.gif");
}

/* Buzz */

@-webkit-keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    -ms-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    -ms-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.buzz {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.buzz:hover {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}